.navbar-translate{
    font-size: 2.5em;
    font-family: 'Red Rose', cursive;
}
.bg-custom{
    background-color: #7f0000;
}
.h1-seo{
    text-align: center;
    font-size: 3em;
    font-family: 'Red Rose', cursive
}
.joinB{
    font-size: 1.5em;
    background-color: #f44336;
}
.intro{
    background-color: #f44336;
}
